<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.drakefamily.googlestepsclient">

    <!-- I thought I needed ACTIVITY_RECOGNITION permission, but it appears not -->
    <!-- <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_gsc"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_gsc"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="net.drakefamily.googlestepsclient.views.MainStepsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>